@import 'buefy/src/scss/utils/_all.scss';

$loading-background: $grey;

// $notices-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
$toast-border-radius: 4px;
$toast-opacity: 1;

$checkbox-active-background-color: $blue;
$checkbox-border-radius: $radius-small;
$checkbox-border-width: 1px;
$checkbox-checkmark-color: $white;
$checkbox-size: $size-5;
$checkbox-border-color: #c2cbd4;

$taginput-height: 2em;

@import 'buefy/src/scss/components/_checkbox.scss';
// @import 'buefy/src/scss/components/_dropdown.scss';
// @import 'buefy/src/scss/components/_datepicker.scss';
// @import 'buefy/src/scss/components/_dialog.scss';
// @import 'buefy/src/scss/components/_form.scss';
// @import 'buefy/src/scss/components/_icon.scss';
// @import 'buefy/src/scss/components/_loading.scss';
// @import 'buefy/src/scss/components/_modal.scss';
@import 'buefy/src/scss/components/_notices.scss';
@import 'buefy/src/scss/components/_pagination.scss';
// @import 'buefy/src/scss/components/_upload.scss';
@import 'buefy/src/scss/components/_table.scss';
// @import 'buefy/src/scss/components/_tabs.scss';
// @import 'buefy/src/scss/components/_tag.scss';
@import 'buefy/src/scss/components/_taginput.scss';
// @import 'buefy/src/scss/components/_tooltip.scss';

.notices {
  padding-top: 3rem;
}

.taginput {
  .taginput-container {
    min-height: 44px;
    border: 2px solid $blue;
    border-radius: $radius;
    padding: 8px 8px 1px 1px;
    
    > .tag {
      font-weight: $weight-semibold;
      padding: 3px 8px;
      font-size: $size-7;
      margin-left: 7px;
      margin-bottom: 7px;

      .delete {
        margin-left: 12px;
      }
    }
  }
}
