nav.navbar {
  .navbar-brand {
    position: fixed;
  }

  .navbar-item {
    font-size: $size-6;
    line-height: 1;

    .icon {
      font-size: $size-5;
      margin-right: 6px;
    }
  }
}

.main-view {
  padding-left: 294px;

  .main-header {
    display: flex;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 24px;

    .title {
      line-height: 40px;
    }

    .back-button {
      padding-right: 30px;
      border-right: 1px solid $grey-dark;
      margin-right: 30px;

      .button {
        z-index: 31;
        box-shadow: 0px 2px 10px rgba(48, 60, 108, 0.1);

        .icon {
          font-size: $size-4;
        }
      }
    }
  }
}

.card {
  // overflow: auto;
  border-radius: $radius;

  .card-header {
    min-height: 80px;
    border-bottom: 1px solid $grey-lighter;

    .card-header-title {
      font-size: 18px;

      .entries {
        color: $primary;
        padding-left: 20px;
      }
    }

    .card-header-actions {
      display: flex;
      align-items: center;
      flex: none;
      padding: $card-header-padding;
    }
  }

  .card-body {
    .card-container {
      padding: 20px 24px;

      .info-entry {
        padding: 4px 8px;
        line-height: 19px;

        .info-label {
          font-size: $size-6;
          color: $grey-darker;
        }

        .info-value {
          font-size: $size-6;
          color: $blue;
          font-weight: $weight-semibold;
        }
      }

      .button-column {
        // display: flex;
        // align-items: flex-end;
      }

      &.card-list-item {
        padding: 18px;
        margin-bottom: 0;

        &:not(:last-child) {
          border-bottom: 1px solid $grey-lighter;
        }
      }
    }

    .card-form {
      .columns {
        margin-top: -4px;
        margin-bottom: -4px;

        .column {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }

  .card-footer {
    padding: 20px 24px;
    justify-content: flex-end;
  }

  margin-bottom: 30px;
}

.modal {
  .modal-card {
    .modal-card-head {
      .modal-card-title {
        font-weight: $weight-bold;

        .info {
          font-size: 14px;
          font-weight: normal;
          display: block;
        }
      }

      .delete {
        display: block;
        
        height: 30px;
        width: 30px;
        max-height: 30px;
        max-width: 30px;
      }
    }

    .modal-card-body {
      .button {
        height: 34px;
      }
    }

    .modal-card-foot {
      justify-content: flex-end;

      .button {
        height: 34px;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}

.pagination {
  .icon {
    font-size: $size-4;
  }

  .pagination-link {
    border-radius: 100%;
  }
}

.chart-container {
  height: 400px;
  position: relative;
  padding: 20px;

  canvas {
  }
}