nav.navbar {
  .navbar-item {
    font-size: $size-6;
    line-height: 1;

    .icon {
      font-size: $size-5;
      margin-right: 6px;
    }
  }
}

.main-view {
  header {
    margin-top: -64px;
    margin-bottom: 32px;

    .title {
      line-height: 1;
    }
  }
}

.card {
  border-radius: $radius;

  .card-header {
    min-height: 80px;
    
    .card-header-title {
      font-size: 18px;
    }
    
    .card-header-actions {
      display: flex;
      align-items: center;
      padding: $card-header-padding;
    }
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
