.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  .material-design-icon {
    height: 1em;
    width: 1em;
    line-height: 1;
  }

  .material-design-icon > .material-design-icon__svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }
}

.b-table .table {
  border: 0;
  margin-top: -1px;

  th {
    line-height: 1;
    padding: 14px 24px;
    font-size: $size-7;
    font-weight: $weight-bold;
    letter-spacing: 0.9px;
  }

  td {
    font-size: $size-6;
    // font-weight: $weight-semibold;
    line-height: 19px;
    color: $blue;

    &.actions {
      > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
          flex-shrink: 0;
          display: inline-flex;
          color: $blue;

          &:hover {
            color: $primary;
          }

          .icon {
            font-size: $size-4;
          }

          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
