.field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .icon {
    font-size: 24px;
  }
}

.label {
  font-size: $size-6;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

.button {
  font-size: $size-6;

  &.button-submit {
    font-size: $size-5;
    margin-top: 4rem;
    width: 100%;
  }
}

.checkbox {
  line-height: 1.5;

  input[type='checkbox']:checked + .check {
    background-size: 70% !important;
  }
}

.checkbox-list {
  .checkbox {
    &:not(:last-child) {
      margin-right: 32px;
      // margin-bottom: 8px;
    }
  }
}

.select.is-loading {
  &:after {
    border-left-color: $blue;
    border-bottom-color: $blue;
  }
}
