html {
  height: 100%;
}

body {
  min-height: 100%;
}

nav.navbar {
  .navbar-brand {
    position: fixed;
    padding-left: 24px;
    
    h2 {
      font-weight: $weight-bold;
    }
  }

  .navbar-item {
    font-size: $size-6;
    line-height: 1;

    .icon {
      font-size: $size-5;
      margin-right: 6px;
    }
  }
}

#app-container {
  .main-view {
    padding-left: 294px;
    transition: padding-left 0.15s;

    .main-header {
      display: flex;
      align-items: center;
      margin-top: -64px;
      margin-bottom: 24px;

      .title {
        line-height: 40px;
      }

      .back-button {
        padding-right: 30px;
        border-right: 1px solid $grey-dark;
        margin-right: 30px;

        .button {
          z-index: 31;
          box-shadow: 0px 2px 10px rgba(48, 60, 108, 0.1);

          .icon {
            font-size: $size-4;
          }
        }
      }
    }
  }

  #base-menu {
    position: fixed;
    width: 264px;
    background-color: $blue;
    font-size: $size-6;
    padding: 12px 15px 36px;
    border-radius: $radius;
    transition: width 0.15s;
    overflow: hidden;

    .menu-header {
      border-bottom: 1px solid $grey;
      margin-bottom: 16px;
    }

    .menu-list {
      a {
        display: flex;
        align-items: center;
        padding: 12px 7px;
      }

      span:not(.icon) {
        white-space: nowrap;
        flex-grow: 1;
      }

      .icon {
        font-size: $size-3;
        &:not(.menu-tick) {
          margin-right: 16px;
        }
      }

      li ul {
        padding-left: 28px;
        margin-top: 0;
        // border-left: 0;
      }
    }
  }

  &.menu-closed {
    .main-view {
      padding-left: 98px;
    }

    #base-menu {
      width: 68px;

      .menu-list {
        a > span:not(:first-child) {
          display: none;
        }
      }
    }
  }
}
